# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
# yamllint disable rule:comments
name: Renovate
run-name: "Renovate: check for package updates"
on: # yamllint disable-line rule:truthy
  workflow_call: {}
  workflow_dispatch:
    inputs:
      dryRun:
        description: Dry Run
        default: "false"
        required: false
      logLevel:
        description: Log Level
        default: debug
        required: false
      version:
        description: Renovate Version
        default: latest
        required: false
  schedule:
  - cron: 0,30 * * * *  # every 30 minutes
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

env:
  LOG_LEVEL: ${{ inputs.logLevel || 'debug' }}
  RENOVATE_AUTODISCOVER: true
  RENOVATE_AUTODISCOVER_FILTER: ${{ github.repository }}
  RENOVATE_DRY_RUN: ${{ inputs.dryRun == true }}
  RENOVATE_PLATFORM: github
  RENOVATE_PLATFORM_COMMIT: true
  RENOVATE_ALLOWED_POST_UPGRADE_COMMANDS: ^make build$
  WORKFLOW_RENOVATE_VERSION: ${{ inputs.version || '38.142.7' }}

jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest
    steps:
    - name: Generate Token
      uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
      id: app-token
      with:
        app-id: ${{ secrets.BOT_APP_ID }}
        private-key: ${{ secrets.BOT_APP_PRIVATE_KEY }}

    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        token: ${{ steps.app-token.outputs.token }}

    - name: Renovate
      uses: renovatebot/github-action@f7fad228a053c69a98e24f8e4f6cf40db8f61e08 # v44.2.1
      with:
        docker-cmd-file: .github/renovate/entrypoint.sh
        docker-user: root
        configurationFile: .github/renovate.json5
        token: ${{ steps.app-token.outputs.token }}
        renovate-version: ${{ env.WORKFLOW_RENOVATE_VERSION }}
