# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/master/deployment.json
apiVersion: apps/v1
kind: Deployment
metadata:
  name: envoy-plex
  labels:
    app.kubernetes.io/name: envoy-plex
    app.kubernetes.io/instance: plex-media-server
  namespace: cert-manager
spec:
  revisionHistoryLimit: 3
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: envoy-plex
      app.kubernetes.io/instance: plex-media-server
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: envoy-plex
        app.kubernetes.io/instance: plex-media-server
    spec:
      terminationGracePeriodSeconds: 30
      enableServiceLinks: false
      serviceAccountName: default
      automountServiceAccountToken: true
      securityContext:
        fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 65534
        runAsNonRoot: true
        runAsUser: 65534
        seccompProfile:
          type: RuntimeDefault
      hostIPC: false
      hostNetwork: false
      hostPID: false
      volumes:
      - name: envoy-yaml
        configMap:
          name: envoy-yaml
      - name: plex-public
        secret:
          secretName: plex-public
      - name: eds-vol
        secret:
          secretName: eds-yaml
      containers:
      - name: envoy-plex
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          readOnlyRootFilesystem: true
        image: envoyproxy/envoy:v1.37.0@sha256:d9b4a70739d92b3e28cd407f106b0e90d55df453d7d87773efd22b4429777fe8
        ports:
        - name: https
          containerPort: 8443
          protocol: TCP
        volumeMounts:
        - name: envoy-yaml
          mountPath: /etc/envoy
        - name: plex-public
          mountPath: /etc/ssl/certs/plex
        - name: eds-vol
          mountPath: /var/lib/envoy
      restartPolicy: Always
